
@{
    ViewBag.Title = "DetailIntroducePost";
    Layout = "~/Areas/User/Views/Shared/_Main_SingleBlog_Layout.cshtml";
    var DetailNews = ViewBag.DetailNews;
}

<!-- Single Blog Post -->

<div class="single_post">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="single_post_text">
                    <p>@DetailNews.Detail</p>
                </div>
            </div>
        </div>
    </div>
</div>



