
@{
    ViewBag.Title = "DetailIntroducePost";
    Layout = "~/Areas/User/Views/Shared/_Main_SingleBlog_Layout.cshtml";
    var ContactPost = ViewBag.ContactPost;
}

<!-- Single Blog Post -->

<div class="single_post">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">

                <div class="single_post_text">
                    <p>@ContactPost.Content</p>
                   
                </div>
            </div>
        </div>
    </div>
</div>



