<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="/">WebShop</a></div>
                    </div>
                    <div class="footer_title">nhóm Project1</div>
                    <div class="footer_phone">0123456789</div>
                    <div class="footer_contact_text">
                        <p>VUW-IT15 BKHN</p>
                     
                    </div>
                    
                </div>
            </div>

         

        </div>
    </div>
</footer>
